body {
  background: url('../img/ç»„-20@2x.png') no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.bg {
  width: 6.4rem;
  height: 4.68rem;
  position: relative;
  top: 5.2rem;
  left: 0.55rem;
}
.nav {
  width: 6.4rem;
  position: relative;
  top: 0.8rem;
  left: 0.55rem;
  padding-left: 0.34rem;
  padding-right: 0.34rem;
  color: #fff;
  font-size: 0.26rem;
  letter-spacing: 0.06rem;
}
.nav p {
  padding: 0;
  margin: 0;
  margin-bottom: 0.56rem;
}
.nav span {
  display: block;
}
.nav .mb {
  margin-bottom: 0.56rem;
}
footer .footer-header {
  margin: 0 auto;
  position: relative;
  top: 2.4rem;
  color: #ffe57b;
  white-space: nowrap;
}
footer .info {
  display: inline-block;
  margin-left: .9rem;
  font-size: 0.24rem;
}
footer .hx {
  width: 1.4rem;
  height: 0.01rem;
}
footer .fl {
  padding-left: 0.55rem;
}
footer .tel {
  width: 5rem;
  margin: 0 auto;
  font-size: 0.26rem;
  color: #ffe57b;
  position: relative;
  top: 2.8rem;
}
footer .tel p {
  margin: 0;
  padding-bottom: .12rem;
}
