/*body {
  background-color: #1f1207;

}*/
.header-img {
  height: 10.34rem;
  width: 7.5rem;
}
.bg {
  width: 6.4rem;
  height: 4.68rem;
  position: absolute;
  top: 4.6rem;
  left: 0.55rem;
}
.nav {
  width: 6.4rem;
  position: absolute;
  top: 4.8rem;
  left: 0.55rem;
  padding-left: 0.34rem;
  padding-right: 0.34rem;
  color: #fff;
  font-size: 0.26rem;
  letter-spacing: 0.06rem;
}
.nav p {
  padding: 0;
  margin: 0;
  margin-bottom: 0.56rem;
}
.nav span {
  display: block;
}
.nav .mb {
  margin-bottom: 0.56rem;
}
footer {
  position: relative;
  top: -1px;
  background-color: #1f1207;
}
footer .footer-header {
  margin: 0 auto;
  /*    position: relative;
        top:2.4rem;*/
  color: #ffe1ae;
  white-space: nowrap;
}
footer .info {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 0.24rem;
}
footer .hx {
  width: 1.4rem;
  height: 0.01rem;
}
footer .fl {
  height: 1.1rem;
  display: inline-block;
}
footer .fr {
  height: 1.1rem;
}
footer .tel {
  width: 6.4rem;
  height: 1.1rem;
  margin: 0 auto;
  font-size: 0.26rem;
  color: #ffe1ae;
  margin-top: 0.36rem;
  /* position: relative;
     top:2.6rem;*/
}
footer .tel p {
  margin: 0;
  padding-bottom: .12rem;
}
